<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Eliminar Educador/a</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            {% csrf_token %}
            <p>¿Estas seguro/a que desea eliminar el registro de
                <b>{{profesor.first_name_teacher}} {{profesor.last_name_teacher}}
                </b>
                ?
            </p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-light" onclick="cerrar_modal_profesor();">Cerrar</button>
            <button type="button" class="btn btn-danger" id="boton_creacion"
                onclick="eliminar({{profesor.pk}});">Eliminar</button>
        </div>
    </div>
</div>